$(function () {
  $(window).bind("popstate", function () {
    $.getScript(location.href);
	$('#menu').find('a').removeClass('selected',300);
  });
})

function setupTileBehavior() {
	$('.tile.animated').hover(
		function(){
			$(this).filter(':not(:animated)').animate({
				boxShadow: "10px 10px 6px 2px #AA5252"
			}, 100);
		},
		function(){
			$(this).animate({
				boxShadow: "4px 4px 6px 2px #777777"
			});
		}
	);

	$('.tile.animated').on("mousedown", function(event){
		$(this).stop().animate({
			boxShadow: "1px 1px 6px #777777"
		},50);
	});

	$('.tile.animated').on("mouseup", function(event){
		if ("pushState" in history) { history.pushState(null, "adsaasd", this.href); }
		startLoadingAnimation()
		$('#notice').hide('fade');
		$('#content').hide('fade');
		$('#menu').find('a').removeClass('selected',300);
	});
};


function startLoadingAnimation() // - функция запуска анимации
{
  // найдем элемент с изображением загрузки и уберем невидимость:
  var imgObj = $("#loadImg");
  imgObj.show();
 
  // вычислим в какие координаты нужно поместить изображение загрузки,
  // чтобы оно оказалось в серидине страницы:
  var centerY = $(window).scrollTop() + ($(window).height() + imgObj.height())/2;
  var centerX = $(window).scrollLeft() + ($(window).width() + imgObj.width())/2;
 
  // поменяем координаты изображения на нужные:
  imgObj.offset({top: centerY, left: centerX});
};
 
function stopLoadingAnimation() // - функция останавливающая анимацию
{
  $("#loadImg").hide();
};

// остаивл как пример использования JOSN и формирования из них объектов в DOM

// function loadLatestNews(){
// 	$.getJSON('/newses.json', function(data){
// 		var news = [];
// 	  $.each(data, function(key, val){
// 	    news.push('<li><a href="newses?selected_section='+ val.id+'">' + val.name_int +'</a></li><br/>');
// 		});
// 	  $('<ul/>', { html: news.join('')} ).appendTo('#news_area');
// 	});

// };


$(document).ready(function(){
	$('#menu li').hover(
		function(){
			$(this).find('a').filter(':not(:animated)').animate({
				"background-color": "#FFE0E0"
			});
		},
		function(){
			$(this).find('a').animate({
				"background-color": "#FFFFFF"
			});
		}
	);

	$('#menu a').on("click", function(event){
		startLoadingAnimation();
		if ("pushState" in history) { history.pushState(null, "", this.href); }
		$('#notice').hide('fade');
		$('#content').hide('fade');
		$('#menu').find('a').removeClass('selected',300);
		$(this).css({'background-color':'#F2C2C2'});
		$(this).addClass('selected',300);
	});

	$('#news_area a').on("click", function(event){
		startLoadingAnimation();
		if ("pushState" in history) { history.pushState(null, "", this.href); }
		$('#notice').hide('fade');
		$('#content').hide('fade');
		$('#menu').find('a').removeClass('selected',300);
	});

	setupTileBehavior();

//	loadLatestNews();

})
